[data-theme="dark"] {
    background-color: #2b2e31 !important;
    color: #eee;
  }
  
  [data-theme="dark"] .bg-light {
    background-color: #333 !important;
  }
  
  [data-theme="dark"] .bg-white {
    background-color: #000 !important;
  }
  
  [data-theme="dark"] .bg-black {
    background-color: #eee !important;
  }
  
  [data-theme="dark"] .table {
    background-color: #343A40 !important;
    color: #FFF !important;
  }

  [data-theme="dark"] .bg-success {
    background-color: #4CA746 !important;
  }

  [data-theme="dark"] .bg-danger {
    background-color: #DC3545 !important;
  }

  [data-theme="dark"] .bg-secondary {
    background-color: #32383E !important;
  }
 
  [data-theme="dark"] .text-dark {
    color: #EEEEEE !important;
  }

  [data-theme="dark"] .form-control{
    background-color: #343A40 !important;
    color: #a1a1a1 !important;
  }
 

 