header {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input#darkSwitch.custom-control-input:focus{
   outline-style: hidden;
   outline-width: 0;
   outline: none;
}

.results {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.results .income {
    background-color: #EFEFEF;
    -webkit-border-radius: 32px 0 0 32px;
    -moz-border-radius: 32px 0 0 32px;
    border-radius: 32px 0 0 32px;
    /* box-shadow: 5px 5px 5px 1px #222; */
    overflow: hidden;
}

.results .outcome {
    background-color: #EFEFEF;
    border-radius: 0;
    /* box-shadow: 5px 5px 5px 1px #222; */
}

.results .balance {
    background-color: #EFEFEF;
    -webkit-border-radius: 0 32px 32px 0;
    -moz-border-radius: 0 32px 32px 0;
    border-radius: 0 32px 32px 0;
    /* box-shadow: 5px 5px 5px 1px #222; */
    overflow: hidden;
}

.card {
    width: 12rem;
    border-width: 0;
}

.table {
    border-radius: 8px;
    background-color: #ecececd5;
}

.table td {
    vertical-align: middle;
}

.fa-minus, .fa-plus {
    font-size: 12px;
}

.close {
    text-shadow: none;
}