<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('header') %>

    <%- defineContent('header-end') %>

    <link rel="stylesheet" href="/css/responsive.css">

</head>

<body onload="setIcon()" style="background-color: #f8f8f8;">
    <div class="container-fluid">

        <%- body %>

    </div>


    <%- include('footer') %>

    <script src="/js/home-page.js"></script>

    <script>

        $("#form").validate({
            rules: {
                name: {
                    required: false,
                    maxlength: 50
                },
                type: {
                    required: false,
                    maxlength: 50
                },
                amount: {
                    required: false
                }
            },

            submitHandler: function (form) {

                if ($.active) return

                let name = $("#name")
                let type = $("#type")
                let amount = $("#amount")

                name = name.val()
                type = type.val()
                amount = parseFloat(amount.val())

                var transaction = {
                    name: name,
                    type: type,
                    value: amount
                }

                $.ajax({
                    url: "/api/conta/create",
                    method: "post",
                    data: JSON.stringify(transaction),

                    processData: false,
                    contentType: "application/json",

                    success: function (dadosDeRetorno) {
                        let button = $('#submitButton')
                        button.removeClass('btn-primary ').addClass('btn-success');
                        button.addClass('btn-success').removeClass('btn-primary');
                        button.html('<i class="fa fa-check-square-o" aria-hidden="true"></i>')

                        setTimeout(() => {
                            $("#form :input").prop("disabled", true)
                        }, 2000)
                        setTimeout(() => { window.location = "/" }, 1000)
                    },

                    error: function (xhr) {
                        try {
                            alert(JSON.parse(xhr.responseText));
                        } catch (err) {
                            alert("Something went wrong");
                        }
                    }
                })
            }
        })


        function deleteTransaction(id) {

            if ($.active) return

            if (!confirm('Do you really want to delete this transaction?')) return

            $.ajax({
                url: '/api/conta/delete/' + id,
                method: "GET",

                success: function (data) {
                    update()
                },

                error: function () {
                    alert('Something went wrong')
                }
            })
        }

        function update() {

            // if ($.active) return

            $.ajax({
                url: '/api/conta/getAll',
                method: 'get',

                success: data => {

                    let table = $('#table')

                    let income = $('#totalIncome')
                    let outcome = $('#totalOutcome')
                    let balance = $('#totalBalance')

                    let inc = 0
                    let out = 0

                    var html = ''

                    data = data.reverse()

                    for (var i = 0; i < data.length; i++) {

                        var transaction = data[i]


                        // (Math.round(num * 100) / 100).toFixed(2);

                        if (transaction.tipo == "Outcome") {
                            html +=
                                `<tr>
                                    <td colspan="3"> ${transaction.nome} </td>
                                    <td colspan="2" class="text-danger"><i class="fa fa-minus" aria-hidden="true"></i> ${(Math.round(transaction.valor * 100) / 100).toFixed(2)} </td>
                                    <td> ${transaction.dia.slice(8, 10)}/${transaction.dia.slice(5, 7)}/${transaction.dia.slice(0, 4)} </td>
                                    <td colspan="10"> ${transaction.token} </td>
                                    <td><a type="button" class="text-danger" onclick="deleteTransaction(${transaction.id})"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                 </tr>`
                            out += transaction.valor

                        } else {
                            html +=
                                `<tr>
                                    <td colspan="3"> ${transaction.nome} </td>
                                    <td colspan="2" class="text-success"><i class="fa fa-plus" aria-hidden="true"></i> ${(Math.round(transaction.valor * 100) / 100).toFixed(2)} </td>
                                    <td>${transaction.dia.slice(8, 10)}/${transaction.dia.slice(5, 7)}/${transaction.dia.slice(0, 4)} </td>
                                    <td colspan="10"> ${transaction.token} </td>
                                    <td><a type="button" class="text-danger" onclick="deleteTransaction(${transaction.id})"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                </tr>`

                            inc += transaction.valor
                        }

                    }

                    income.html('$ ' + (Math.round(inc * 100) / 100).toFixed(2))
                    outcome.html('$ ' + (Math.round(out * 100) / 100).toFixed(2))

                    let bal = inc - out

                    balance.html('$ ' + (Math.round(bal * 100) / 100).toFixed(2))
                    table.html(html)

                },

                error: () => {
                    alert("Something went wrong")
                }


            })
        }

        update()


    </script>

</body>

</html>