<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">New transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="name">Transaction name</label>
                        <input type="text" name="name" class="form-control border-0" id="name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a name for this transaction.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type">Transaction type</label>
                        <select class="form-control border-0" id="type" name="type" required>
                            <option value="" selected disabled></option>
                            <option>Income</option>
                            <option>Outcome</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a transaction type.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="text" class="form-control border-0" id="amount" name="amount" placeholder="$"
                            required>
                        <div class="invalid-feedback">
                            Please provide the transaction amount.
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script>

    (() => {
        'use strict';
        window.addEventListener('load', () => {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation')
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false);
            })
        }, false)
    })()

    

</script>