<header>
    <h1>My account</h1>

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="darkSwitch" onclick="changeIcon()">
        <label class="custom-control-label" for="darkSwitch"><i class="fa " id="iconMode"
                aria-hidden="true"></i></label>
    </div>
</header>

<hr>